block right
	#right-side
		#map
			input#map-input(autofocus autocomplete="on" maxlength="1024" placeholder="Enter vector code..." contenteditable="true")
		#scene
			canvas#canvas(width="800" height="640")

		include settings-container