block right
	#right-side
		#map
			#map-input(autofocus autocomplete="on" maxlength="1024" placeholder="Enter vector code..." contenteditable="true")
				|Enter vector code here...
		#scene

		include settings-container