@import "nib"





#right-side
	height: 100%
	position: relative
	overflow: hidden
	background-color: #DFDEDE
	
	#map
		min-width: 5rem
		max-width: 50rem
		position: absolute
		top: 1rem
		left: 0rem
		right: 0rem
		margin: auto
		z-index: 100
		
		#map-input
			width: 100%
			height: 2rem
			padding: 0 1rem
			outline: none
			border: none
			border-radius: 3px		
			color: #808080
			font-weight: 600
			border: 1px solid #CFCFCF
			box-shadow: 0 0 7px 1px rgba(200, 200, 200, 1)
	

	#scene
		width: 800px
		height: 450px
		position: absolute
		margin: auto
		top: 60px
		left: 0px
		right: 0px
		overflow: hidden
		
		#canvas
			width: 800px
			height: 450px
			position: absolute
			top: 0px
			left: 0px
			right: 0px
			bottom: 0px
			margin: auto
			background-color: transparent	// #172F8B
			
	#description
		position: absolute
		bottom: 20px
		width: 80%
		left: 10%
		